.NUI-tool-avold {
    position: relative;
    width: 100%;
    height: 80px;
}

.NUI-tool-porp10X {
    position: relative;
    width: 100%;
    height: 10px;
}

.NUI-tool-porp20X {
    position: relative;
    width: 100%;
    height: 20px;
}